<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Document</title>
    <style>
        .row {}

        .col {
            padding: 1rem;
        }

        .col span {
            margin-left: .4rem;
            margin-right: 0.4rem;
        }
    </style>
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="header">pondl</div>
            <div class="row" v-for="el in pond">
                <div class="col">
                    <div>{{el.id}}</div>
                    <span v-for="it in el.item">{{it}}</span>
                </div>
            </div>
            <div class="header">lakel</div>
            <div class="row" v-for="el in lake">
                <div class="col">
                    <div>{{el.id}}</div>
                    <span v-for="it in el.item">{{it}}</span>
                </div>
            </div>
            <div class="header">pavilionl</div>
            <div class="row" v-for="el in pavilion">
                <div class="col">
                    <div>{{el.id}}</div>
                    <span v-for="it in el.item">{{it}}</span>
                </div>
            </div>
        </div>
    </div>

    <script>


        const NewVue = new Vue({
            el: '#app',
            data: {
                pond: [
                    { id: '春', item: ["ヤマメ(真鳟鱼)", "イカ(乌贼)", "フーインイカ(萤乌贼)", "ギンブナ(银鲋鱼)", "サヨリ(针鱼)", "アマゴ(鳟鱼/天鱼)", "トキメキタイ(心跳鲷鱼)", "稀有的空罐子", "空罐子", "长靴"] },
                    { id: '夏', item: ["イカ(乌贼)", "イワシ(鰯鱼/沙丁鱼)", "イワナ(岩鱼)", "ウグイ(雅罗鱼)", "カレイ(鲽鱼)", "ジャマイカ(斑乌贼/南国章鱼)", "エビ(虾)", "ヘラブナ(鲫鱼)", "ロブスター(龙虾)", "トキメキタイ(心跳鲷鱼)", "长靴", "稀有的空罐子"] },
                    { id: '秋', item: ["タイ(鲷鱼)", "サンマ(秋刀鱼)", "サバ(鲭鱼/鲐鱼)", "サケ(鲑鱼)", "カツオ(鲣鱼)", "モミジヒラメ(红叶比目鱼)", "イカ(乌贼)", "トキメキタイ(心跳鲷鱼)", "空罐子"] },
                    { id: '冬', item: ["ワカサギ(公鱼)", "メジナ(斑鲅鱼)", "フグ(河豚)", "ヒラメ(比目鱼)", "ドクニジマス(毒虹鳟鱼/虹色鱼)", "イカ(乌贼)", "トキメキタイ(心跳鲷鱼)", "カガヤキタイ(银鲷)", "稀有的空罐子", "长靴"] },
                ],
                lake: [
                    { id: '春', item: ["ヤマメ(真鳟鱼)", "イカ(乌贼)", "フーインイカ(萤乌贼)", "ギンブナ(银鲋鱼)", "サヨリ(针鱼)", "アマゴ(鳟鱼/天鱼)", "トキメキタイ(心跳鲷鱼)", "稀有的空罐子", "空罐子", "长靴", "ヌッシーのうろこ(鱼主之鳞)"] },
                    { id: '夏', item: ["ウグイ(石斑鱼)", "イワシ(鰯鱼/沙丁鱼)", "イワナ(岩鱼)", "ジャマイカ(斑乌贼/南国章鱼)", "カレイ(鲽鱼)", "ヘラブナ(鲫鱼)", "エビ(虾)", "ロブスター(龙虾)", "イカ(乌贼)", "トキメキタイ(心跳鲷鱼)", "ヌッシーのうろこ(鱼主之鳞)"] },
                    { id: '秋', item: ["モミジヒラメ(红叶比目鱼)", "タイ(鲷鱼)", "サケ(鲑鱼)", "サバ(鲭鱼/鲐鱼)", "イカ(乌贼)", "サンマ(秋刀鱼)", "ヌッシーのうろこ(鱼主之鳞)"] },
                    { id: '冬', item: ["ワカサギ(公鱼)", "メジナ(斑鲅鱼)", "マグロ(金枪鱼)", "ドクニジマス(毒虹鳟鱼/虹色鱼)", "イカ(乌贼)", "ヒラメ(比目鱼)", "ブリ(鰤鱼)", "イトウ(哲罗鱼)", "トキメキタイ(心跳鲷鱼)", "カガヤキタイ(闪光鲷鱼)", "ヌッシーのうろこ(鱼主之鳞)"] },
                ],
                pavilion: [
                    { id: '春', item: ["サケ(鲑鱼)", "エビ(虾)", "イワナ(岩鱼)", "アマゴ(鳟鱼/天鱼)", "ギンブナ(银鲋鱼)", "サヨリ(针鱼)", "イカ(乌贼)"] },
                    { id: '夏', item: ["サケ(鲑鱼)", "エビ(虾)"] },
                    { id: '秋', item: ["エビ(虾)", "サンマ(秋刀鱼)", "サバ(鲭鱼/鲐鱼)", "サケ(鲑鱼)", "イワナ(岩鱼)", "イカ(乌贼)"] },
                    { id: '冬', item: ["エビ(虾)", "メジナ(斑鲅鱼)", "イワナ(岩鱼)", "サケ(鲑鱼)"] },
                ]
            },
            created() {

            },
            methods: {

            }
        });

        const pond = [
            { 春: ["ヤマメ(真鳟鱼)", "イカ(乌贼)", "フーインイカ(萤乌贼)", "ギンブナ(银鲋鱼)", "サヨリ(针鱼)", "アマゴ(鳟鱼/天鱼)", "トキメキタイ(心跳鲷鱼)", "稀有的空罐子", "空罐子", "长靴"] },
            { 夏: ["イカ(乌贼)", "イワシ(鰯鱼/沙丁鱼)", "イワナ(岩鱼)", "ウグイ(雅罗鱼)", "カレイ(鲽鱼)", "ジャマイカ(斑乌贼/南国章鱼)", "エビ(虾)", "ヘラブナ(鲫鱼)", "ロブスター(龙虾)", "トキメキタイ(心跳鲷鱼)", "长靴", "稀有的空罐子"] },
            { 秋: ["タイ(鲷鱼)", "サンマ(秋刀鱼)", "サバ(鲭鱼/鲐鱼)", "サケ(鲑鱼)", "カツオ(鲣鱼)", "モミジヒラメ(红叶比目鱼)", "イカ(乌贼)", "トキメキタイ(心跳鲷鱼)", "空罐子"] },
            { 冬: ["ワカサギ(公鱼)", "メジナ(斑鲅鱼)", "フグ(河豚)", "ヒラメ(比目鱼)", "ドクニジマス(毒虹鳟鱼/虹色鱼)", "イカ(乌贼)", "トキメキタイ(心跳鲷鱼)", "カガヤキタイ(银鲷)", "稀有的空罐子", "长靴"] },
        ];

        const lake = [
            { 春: ["ヤマメ(真鳟鱼)", "イカ(乌贼)", "フーインイカ(萤乌贼)", "ギンブナ(银鲋鱼)", "サヨリ(针鱼)", "アマゴ(鳟鱼/天鱼)", "トキメキタイ(心跳鲷鱼)", "稀有的空罐子", "空罐子", "长靴", "ヌッシーのうろこ(鱼主之鳞)"] },
            { 夏: ["ウグイ(石斑鱼)", "イワシ(鰯鱼/沙丁鱼)", "イワナ(岩鱼)", "ジャマイカ(斑乌贼/南国章鱼)", "カレイ(鲽鱼)", "ヘラブナ(鲫鱼)", "エビ(虾)", "ロブスター(龙虾)", "イカ(乌贼)", "トキメキタイ(心跳鲷鱼)", "ヌッシーのうろこ(鱼主之鳞)"] },
            { 秋: ["モミジヒラメ(红叶比目鱼)", "タイ(鲷鱼)", "サケ(鲑鱼)", "サバ(鲭鱼/鲐鱼)", "イカ(乌贼)", "サンマ(秋刀鱼)", "ヌッシーのうろこ(鱼主之鳞)"] },
            { 冬: ["ワカサギ(公鱼)", "メジナ(斑鲅鱼)", "マグロ(金枪鱼)", "ドクニジマス(毒虹鳟鱼/虹色鱼)", "イカ(乌贼)", "ヒラメ(比目鱼)", "ブリ(鰤鱼)", "イトウ(哲罗鱼)", "トキメキタイ(心跳鲷鱼)", "カガヤキタイ(闪光鲷鱼)", "ヌッシーのうろこ(鱼主之鳞)"] },
        ];

        const pavilion = [
            { 春: ["サケ(鲑鱼)", "エビ(虾)", "イワナ(岩鱼)", "アマゴ(鳟鱼/天鱼)", "ギンブナ(银鲋鱼)", "サヨリ(针鱼)", "イカ(乌贼)"] },
            { 夏: ["サケ(鲑鱼)", "エビ(虾)"] },
            { 秋: ["エビ(虾)", "サンマ(秋刀鱼)", "サバ(鲭鱼/鲐鱼)", "サケ(鲑鱼)", "イワナ(岩鱼)", "イカ(乌贼)"] },
            { 冬: ["エビ(虾)", "メジナ(斑鲅鱼)", "イワナ(岩鱼)", "サケ(鲑鱼)"] },
        ];

    </script>
</body>

</html>